
.container {
    max-width: 400px;
    background-color: #C21A37;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    margin: 0 auto;
}

.logo-container {
    margin-bottom: 15px;
}

.display-container {
    background-color: black;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 25px 10px;
    margin-bottom: 20px;

}

.display {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
    direction: rtl;
    

}
.item-container {
    display: inline-flex;
    width: 80%;
    
}

.box {
    width: 100%;
}

.btn {
    border-radius: 50%;
    color: ghostwhite;
    font-size: 2.3rem;
    margin-right: 15px;
    margin-bottom: 10px;
}



.specials-btn {
    background-color: #0062AB;
    
}

.specials-btn:first-child {
    padding: 20px 30px;
}

.specials-btn:nth-child(2) {
    padding: 6%;
}

.specials-btn:last-child {
    padding: 18px 25px;
}


/* nth-child(9) of numbers for extra wide button */

.numbers {
    background-color: #003F75;
    padding: 20px 30px;
}

.numbers:last-child {
    padding: 18px 33px;
}

.operators {
    display: inline-flex;
    width: 19%;

}

.operations-side {
    display: inline-flex;
    width: 19%;
}

.test {
    border: 1px solid black;
}