
.container {
    max-width: 400px;
    background-color: #C21A37;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    margin: 0 auto;
}

.logo-container {
    margin-bottom: 15px;
}

.display-container {
    background-color: black;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 25px 10px;

}

.display {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
    direction: rtl;

}

.box {
    width: 75%;
}

.btn {

    border-radius: 50%;
    color: ghostwhite;
    font-size: 2.3rem;
    padding: 20px 30px;
}

.btn:last-child {
    padding: 18px 33px;
}

.specials {
    background-color: #0062AB;
}

.numbers {
    background-color: #003F75;
}