
/**************** ***********************************************************/
/*** 

***/
.container {
    max-width: 400px;
    background-color: #C21A37;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    margin: 0 auto;
}

.logo-container {
    margin-bottom: 15px;
}

.display-container {
    background-color: black;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 40px 10px;
    margin-bottom: 20px;

}

.display {
    color: white;
    font-size: 2.4rem;
    font-weight: 500;
    direction: rtl;  /*** puts texts displaying right to left on screen. ***/
    padding-right: 30px;
}

/***** Button Container --------------
   - container for holding operators && Numbers
****************************************************************************************/
.specials-numbers-wrapper {
    display: inline-flex;
    width: 80%;
    
}

.specials-nums-container {
    width: 100%;
}
/*** end containers ***********/

/******** BASE BUTTON --
   - provides all of buttons similar traits to each buttons.
****************************************************************************************/

.btn {
    border-radius: 50%;
    color: ghostwhite;
    font-size: 2.3rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

/****************** END BASE BUTTONS ***************************************************/

/*************************
 specials buttons
    - custom padding each with a child selctor
    - the regular class is used for the background-color only.
****************************************************************************************/
.specials-btn {
    background-color: #0062AB;  
}

/** custom padding each of the 3 buttons in specials with 1st-child, nth-child, & last-child. **/
.specials-btn:first-child { 
    padding: 20px 30px;
}

.specials-btn:nth-child(2) {
    padding: 6%;
}

.specials-btn:last-child {
    padding: 18px 25px;
}
/*************************** END Specials buttons **************************************/

/*************************** 
    Numbers Button Section
****************************************************************************************/
.numbers-btn { /** All Numbers EXCEPT last-Child button **/
    background-color: #003F75;
    padding: 20px 30px;
}

.numbers-btn:nth-child(10) {
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    width: 60%;
}

.numbers-btn:last-child {
    padding: 18px 33px;
}
/*************************** END Numbers Section ***************************************/

/****************************
    Operators Button Section
****************************************************************************************/

.operators {
    display: inline-flex;
    width: 19%;

}

.operations-side {
    display: inline-flex;
    width: 19%;
}

.operators-btn { /** All buttons EXCEPT -> 1st and 3rd of operators buttons. **/
    background-color: #00B4E1;
    padding: 20px 30px;
}

.operators-btn:first-child { /** top button in operators **/
    padding: 21px 34px;
}

.operators-btn:nth-child(3) { /**** 3rd button in operators - sign **/
    padding: 21px 34px;
}

.test {
    border: 1px solid black;
}